{
  "_description": "Default wireless network setup for APs used in the test.",
  "AP": [{"index": 0,
          "radio0": {"settings": {"channel": 1}, "wifi-iface" : [{"ssid": "Test_1", "key": "12345678", "encryption": "psk2"}]},
          "radio1": {"settings": {"channel": 36}, "wifi-iface" : [{"ssid": "Test_36", "key": "12345678", "encryption": "psk2"}]}}
        ]
}